:root {
  --primary-color: #ffffff;
  --secondary-color: #f0f0f5;
  --accent-color: #4a90e2;
  --text-color: #333333;
  --button-hover-color: rgb(0, 95, 0);
  --input-border-color: #cccccc;
  --input-focus-color: #4a90e2;
  --green: rgb(0, 129, 0);
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--secondary-color);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--secondary-color);
}

.login-form {
  background-color: var(--primary-color);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
}

h1 {
  color: var(--text-color);
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  color: var(--text-color);
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
}

input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  outline: none;
  background-color: #f9f9f9;
}

input:focus {
  border-color: var(--input-focus-color);
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--green);
  color: var(--primary-color);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.login-button:hover {
  background-color: var(--button-hover-color);
}

.register-link {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: var(--text-color);
}

.register-link a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 600;
}

.register-link a:hover {
  text-decoration: underline;
}

.WrongPass {
  color: red;
}
.userNotFound {
  color: red;
}
